#huluLogo {
    font-size: 120px;
    color: #0EE694;;
    margin: 0;
    padding: 0;
}

.greenText {
    color: #2DBD9D;
    margin: 0;
    padding: 0;
    /* padding-top: 4em; */
}
.huluText {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/* .mainCenter {
    display: inline-block;
} */

body {
    margin: 0px;
    font-family: Helvetica,Arial,sans-serif;
}

#divWrapper {
    text-align: center;
    background-image: url("./assets/huluMainBackground.jpg");
    background-size: cover;
    width: 100vw;
    height: 80vh;
}

div{
    /* display:inline-block; */
    padding:0px;
    /* margin-left:-4px; */
  }

nav ul li {
    margin-right: 50px;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

.nav-link {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
}

#divgradientWrapper {
    background:linear-gradient(to right,#091923, #0E303A, #0F4150) ;
    margin: 0;
    padding: 0 20px;
    /* width: 100vw; */
    height: 150px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
}
#divlogoContainer {
    margin: auto;
    flex-grow: 1;
}

#imgDPLogo {
    width: 25vw;
    /* flex-shrink: 10; */
    /* padding: 2em; */
}

#divBundle {
    flex-grow: 4;
    margin: auto;
}

.getHulu {
    color: white;
    font-weight: 10;
}

.moreDetails {
    color: #B7C0C3;
    font-size: 13px;
    border: black;
}

#divGetBundle {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-grow: 2;
    /* flex-wrap: wrap; */
    width: 100px;
    /* padding: 4em; */
    /* justify-content: flex-start; */
    align-content: center;
    /* align-items: stretch; */
   /* padding: 4em; */
}

#btnBundle {
    background: transparent;
    margin: auto;
    border: 2px solid white;
    border-radius: 4px;
    width: 140px;
    height: 40px;
    font-size: 14px;
    color: white;
    text-align: center;
    flex-basis: 50px;
}

.linkTerms {
    color: white;
    font-size: 10px;
    margin: auto;
    margin-top: 4px;
    flex-grow: 2;
}

#imgBigImage {
    width: 100vw;
}

#btnTrial {
    background-color: white;
    border: 2px solid white;
    width: 300px;
    height: 55px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
}

.freeTrial {
    color: grey;
    font-weight: 10;
    padding-top: 0;
}